@import "settings";
// @import "foundation";	

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

@import "foundation/components/block-grid", "foundation/components/grid";

$white       : #FFFFFF;
$ghost       : #FAFAFA;
$snow        : #F9F9F9;
$vapor       : #F6F6F6;
$white-smoke : #F5F5F5;
$silver      : #EFEFEF;
$smoke       : #EEEEEE;
$gainsboro   : #DDDDDD;
$iron        : #CCCCCC;
$base        : #AAAAAA;
$aluminum    : #999999;
$jumbo       : #888888;
$monsoon     : #777777;
$steel       : #666666;
$charcoal    : #555555;
$tuatara     : #444444;
$oil         : #333333;
$jet         : #222222;
$black       : #000000;

$bg-grey: 			#fdfdfd;
$text-primary: 		#313233;
$text-secondary:	#5c5d5f;

$base-font-size:	rem-calc(12px);

$serif-font-stack: "Didot", "Baskerville", "Palatino Linotype", "Palatino", "Times", serif;
$sans-serif-font-stack: "Helvetica Neue", "Helvetica", "Source Sans Pro", "Arial", sans-serif;

body {
	background: $bg-grey;
	font-family: $sans-serif-font-stack;
	font-size: 1.5 * $base-font-size;
	font-weight: 100;
	color: $text-secondary;
}

.title {
	// text-align: center;
	font-family: $serif-font-stack;
	color: $text-primary;
	overflow: hidden;
	line-height: 1.25;
}

.title.primary {
	font-size: 5 * $base-font-size;
}

.title.secondary {
	margin-top: calc(6.25vh);
	font-size: 3 * $base-font-size;
}

.subtitle {
	font-size: 2 * $base-font-size;
	font-family: $sans-serif-font-stack;
	font-weight: 100;
	color: $text-secondary;
	// text-align: center;
}

.section {
	margin-top: 2.5vh !important;
	margin-bottom: 2.5vh !important;
}

.section.first {
	height: 50vh;
	margin-top: calc(30vh) !important;
}

.block {
	display: block;
	height: 100%;
	width: calc(100% - 1vw);
	margin-bottom: 1vw;
	background: tomato;
	padding: 15px;
	color: $vapor;
}