@import "settings";
@import "foundation";	

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

@import "foundation/components/type", "foundation/components/grid";

$bg-grey: 			#fdfdfd;
$text-primary: 		#313233;
$text-secondary:	#404142;
$text-tertiary:		#9A9C9E;

$base-font-size:	rem-calc(12px);

$serif-font-stack: "Didot", "Bodoni", "Baskerville", "Palatino Linotype", "Palatino", "Times", serif;
$sans-serif-font-stack: "Helvetica Neue", "Helvetica", "Source Sans Pro", "Arial", sans-serif;
$sans-serif-light-font-stack: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$sans-serif-thin-font-stack: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

// social media colors
.twitter-col {
	color: #00aced;
}
.facebook-col {
	color: #3b5998;
}
.googleplus-col {
	color: #dd4b39;
}
.pinterest-col {
	color: #cb2027;
}
.linkedin-col {
	color: #007bb6;
}
.youtube-col {
	color: #bb0000;
}
.vimeo-col {
	color: #aad450;
}
.tumblr-col {
	color: #32506d;
}
.instagram-col {
	color: #517fa4;
}
.flickr-col {
	color: #ff0084;
}
.dribbble-col {
	color: #ea4c89;
}
.github-col {
	color: #666666;
}
.soundcloud-col {
	color: #ff3a00;
}

body {
	background: $bg-grey;
} 

.text {
	font-size: 1.5 * $base-font-size;
	font-family: $sans-serif-light-font-stack;
	font-weight: 400;
	line-height: 1.65;
	margin-top: $base-font-size;
	color: $text-secondary;
}

.social-media {
	text-align: center;
	margin-top: 0.5 * $base-font-size;

	* {
		@include single-transition(all, 200ms, ease-out);
	}

	i {
		text-decoration: none;
		font-size: 3 * $base-font-size;
		padding-left: $base-font-size;
		padding-right: $base-font-size;
	}

	i:hover {
		color: $text-tertiary;
	}
}

.text.primary {
	padding-right: 5vw;
}

.title {
	// text-align: center;
	font-family: $serif-font-stack;
	color: $text-primary;
	overflow: hidden;
	line-height: 1.25;
}

.title.primary {
	font-size: 6 * $base-font-size;
}

.title.secondary {
	margin-top: calc(6.25vh);
	font-size: 4 * $base-font-size;
}

.subtitle {
	font-size: 3 * $base-font-size;
	font-family: $sans-serif-thin-font-stack;
	font-weight: 400 !important;
	// color: $text-secondary;
	// text-align: center;
}

.section {
	margin-top: 2.5vh !important;
	margin-bottom: 2.5vh !important;
}

.section.first {
	margin-bottom: 30vh !important;
	margin-top: 30vh !important;
}

.block {
	display: block;
	min-height: 30vh;
	width: calc(100% - 10px);
	margin-bottom: 1vw;
	background: tomato;
	padding: 15px;
	color: $vapor !important;

	* {
		color: $vapor !important;
	}
}

a {
	text-decoration: none;
	font-family: $sans-serif-font-stack;
	color: tomato;
}

a:hover {
	color: $text-primary;
}